[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"img2pdf" = "==0.2.4"
olefile = "==0.45.1"
psutil = "==5.4.2"
six = "==1.11.0"
Gooey = "*"
Pillow = "==4.3.0"
wxPython = "==4.0.0b1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
