[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"img2pdf" = "*"
olefile = "*"
psutil = "*"
six = "*"
Gooey = "*"
Pillow = "==4.3.0"
wxPython = "==4.0.0b1"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
